<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="./img/dd.png"> 
    <title>About Page</title>
    <link rel="stylesheet" href="../public/css/shop.css">
    <script src="https://kit.fontawesome.com/fbbca3640d.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
    <h1>About</h1>
    <nav>
                
        <a href="/">Home</a>
        <a href="/shop">Shop</a>
        <a class="active" href="/about">About Us<i class="fas fa-smile"></i></a>  
                
            </nav>
        </header>
   
    <main>
        <p>This game is a shameless copy of the hit game Cookie Clicker! 
            Made by Devin Taylor. This site does not mine any bitcoin or use any computer resources to do so. 

        </p>
        <div class="tenor-gif-embed" data-postid="17361495" data-share-method="host" data-aspect-ratio="1" data-width="10%"><a href="https://tenor.com/view/pug-dance-moves-cute-pug-dance-gif-17361495">Pug Dance Sticker</a>from <a href="https://tenor.com/search/pug-stickers">Pug Stickers</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
        
    </main>

</body>
</html>