<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="./img/dd.png"> 
    <title>Store Page</title>
    <link rel="stylesheet" href="../public/css/shop.css">
    <script src="https://kit.fontawesome.com/fbbca3640d.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
    <h1>Shop Front</h1>
    <nav>
                
      <a id = "homebtn" href="/">Home</a>
      <a class="active" href="/shop">Shop</a>
      <a href="/about">About Us<i class="fas fa-smile"></i></a>  
                
            </nav>
        </header>
   
    <main>
      <p id = "hi">0</p>
      <p style="display: none;" id = "hide">NOT ENOUGH MONEY</p>
      <p>Upgrades</p>
        <table>
            <tr>
              
            </tr>
            <tr>
              <td><button type="button" class="clicka" id = "gp">Click Here to add GPU</button></td>
              <td><button type="button" class="clicka" id = "auto">Click Here to Purchase Auto Miner</button></td>
              <td><button type="button" class="clicka" id = "aup">Click Here to Boost Auto Miner</button></td>
            </tr>
            <tr>
              <td><p>-100 BTC</p></td>
              <td><p>-500 BTC</p></td>
              <td><p>-1000 BTC</p></td>

            </tr>
          </table>
          <p>Num. Of GPU</p>
          <p id = ngpu>1</p>
    </main>

    <footer>
        <hr>
        <h2>This game was made by Devin Taylor :P</h2>
    </footer>

</body>
<script src="../public/js/shop.js"></script>
</html>